<center>
  <h1>Welcome to Chitter</h1>
</center>

<h2>Post a peep</h2>

  <form action='/peep' method='post'>
    <label for='message'>What's on your mind?</label>
    <br>
    <input type='text' name='message'>
    <input type='submit' value='Post peep'>
  </form>
<h2>Recent Peeps</h2>
<% @peeps.reverse.each do |peep| %>
<%= peep.message%>
<br>
<%end%>
